.shopping-cart {
  width: 750px;
  height: auto;
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }

  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

.item {
  padding: 20px 30px;
  height: auto;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.total-price {
  display: flex;
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  align-items: center;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

#title {
  font-size: 22.5px;
}

.image {
  height: 125px;
  margin-right: 20px;
}

.checkout-btn-total {
  border-top: 1px solid #e43403;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
#Total {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  align-items: center;
}
#totalPrice {
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
  margin-right: 50px;
  font-size: 25.5px;
  align-items: center;
}
